<div class="bus-reports">
    <h3>Bus Reports</h3>

    <uib-accordion>
        <div uib-accordion-group class="panel-default" is-open="status.open"
             ng-repeat="busOrgDetails in busReportsComponentVm.results">
            <uib-accordion-heading>
                {{busOrgDetails.organisation}} - {{busOrgDetails.date}}<i class="pull-right glyphicon"
                                                                          ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <table class="table table-bordered">
                <td>Bus ID</td>
                <td>Route Variant</td>
                <td>Status</td>
                <tr ng-repeat="busOrgDetails in busOrgDetails.busData">
                    <td>{{busOrgDetails.busId}}</td>
                    <td ng-bind-html="busOrgDetails.routeVariant | boldFilter:3">
                    </td>
                    <td ng-bind-html="busOrgDetails.deviationFromTimetable | statusFilter"></td>
                </tr>
            </table>
            <textarea ng-model="myTextarea" placeholder="Enter Text here" class="form-control" rows="5" ></textarea>
        </div>
    </uib-accordion>
</div>
